##########################################################################
#
# List of owners for niflexlogger-plugins/plugins/Spectrogram
#
##########################################################################
#
* @ccaltagi
